@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sora:wght@700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sora', sans-serif;
}

.navbar{
    display: flex;
}

.acc a{
    text-decoration: none;
    color:#f9f9f9; 
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.acc a:hover{
    background-color: #a5b106;
    color:#fff;
    transform: scale(1.1); 
}

.logout a{
    text-decoration: none;
    color:#f9f9f9; 
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.logout a:hover{
    background-color: #a5b106;
    color:#fff;
    transform: scale(1.1); 
}

.logout{
    position: absolute;
    right: 10%;
    top:6%
}

.logout a{
    color:black;
    text-decoration: none;
}
/* LOGOUT */

.logo{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
    justify-content: center;
    align-items: center; 
}

.logo img{
    width: 40px; 
    height: 50px; 
}
.logo h1{
    margin-left: 10px;
}

.menu{
    display: flex;
    margin-left:10px;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 32%;
    top:6%
}

.menu-item{
    margin-left:60px;
    font-weight: lighter;
    font-size: medium;
    text-decoration: none;
    color: black;
    opacity: 70%;
}
.menu-item:hover {
    color: black;
    opacity: 100%;
}


.acc{
    position: absolute;
    right: 10%;
    top:6%
}

.acc a{
    color:black;
    text-decoration: none;
}

.acc a:hover{
    opacity:70%;
}

.container{
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-size: center;
    position: relative;
}

.box{
    width: 40%;
    top: 20%;
    left: 10%;
}

.input-field{
    background: #faf5f5;
    border-radius: 3px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width:100%;
    height: 70px;
    background:transparent;
    border: 0;
    outline: 0;
    padding: 10px 15px;
}

.text-box{
    margin-bottom: 10px;
    margin-top: 100px;
}

.btn-field{
    width: 20%;
    height: 5%;
    justify-content: space-between;
}

.btn-field button{
    margin-top: 10px;
    background:#3c4035;
    color: #fff;
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.big-box{
    position: absolute;
    display: flex;
    width: 80%;
    height: 85%;
    left: 46%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}

.catalog{
    margin-top: 60px;
    display: flex;
    
    height: 80%;
}

.scrollable-input {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scrollable-input:hover {
    overflow: auto;
    white-space: normal;
}

.img {

    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    /* Optional: Add additional styles for the container */
}

.img img {
    max-width: 100%;
    max-height: 100%;
    /* Optional: Add additional styles for the image */
}

.footer{
    position: absolute;
    top:89%;
    left:48%;
    transform: translate(-50%, -50%);
}
.footer h4{
    margin-left:100px;
}
.sponsors{
    display: flex;
    justify-content: center;
}
.sponsor-logo{
    margin-left: 20px;
}